.dashboard-title-container {
  display: flex;
  justify-content: center;
}

.wrap > h1 {
  font-family: GothamPro-Heavy, sans-serif;
  font-weight: 900;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-block: 0 0;
}

.wrap {
  display: flex;
  flex-direction: column;
}
.wrap > h1:first-child {
  font-size: 32px;
  letter-spacing: 1.5px;
}

.wrap > h1:nth-child(2n) {
  font-size: 53px;
  color: transparent;
  -webkit-text-stroke: 2px #FFFFFF;
  letter-spacing: 6px;
  line-height: 50px;
}

.wrap > h1:last-child {
  font-size: 44px;
  letter-spacing: 2px;
}

@media screen and (min-width: 768px) {
  .wrap > h1:first-child {
    font-size: 84px;
    letter-spacing: 0;
  }
  .wrap > h1:nth-child(2n) {
    font-size: 138px;
    letter-spacing: 10px;
    line-height: 100px;
    -webkit-text-stroke: 4px #FFFFFF;
  }
  .wrap > h1:last-child {
    font-size: 114px;
  }
}

@media screen and (min-width: 1920px) {
  .wrap > h1:first-child {
    font-size: 100px;
  }
  .wrap > h1:nth-child(2n) {
    font-size: 165px;
    letter-spacing: 11px;
    line-height: 110px;
  }
  .wrap > h1:last-child {
    font-size: 136px;
  }
}