.contacts-indicator {
  &-text {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts-indicator {
    display: flex;
    justify-content: center;

    &-telegram::before {
      content: url("../../assets/telegram-white.svg");
      margin-right: 20px;
    }

    &-telegram:hover::before {
      content: url("../../assets/telegram-color.svg");
    }

    &-instagram::before {
      content: url("../../assets/chat-white.svg");
    }

    &-instagram:hover::before {
      content: url("../../assets/chat-color.svg");
    }
  }
}

@media screen and (min-width: 1920px) {
  .contacts-indicator {

    position: absolute;
    top: 45%;
    left: 80px;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    &-text {
      font-family: Gilroy-Bold, sans-serif;
      font-weight: 700;
      transform: rotate(-90deg);
      display: flex;
      color: #FFFFFF;
    }

    &-telegram::before {
      margin-right: 0;
    }
  }
  .hidden {
    display: none;
  }
}