.footer {
  background-color: #191D24;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;

  &-text {
    font-family: Gilroy-Medium, sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 50%;
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (min-width: 1920px) {
  .footer {
    &-text {
      font-size: 16px;
    }
  }
}